:root {
  --primary: #fff;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background-color: var(--primary);
}

.layout-content {
  background-color: var(--primary);
}

.movie-container {
  margin-top: 50px;
}

.movie-container-flex {
  width: 100%;
  height: 120;
}

.carousel-container {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.carousel {
  position: relative;
}

.carousel__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 1.5rem;
  border: none;
  padding: 1rem;
  cursor: pointer;
  z-index: 1;
  transition: background-color 0.3s;
}

.carousel__btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel__btn--prev {
  left: 0;
}

.carousel__btn--next {
  right: 0;
}

.carousel__img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease-in-out;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loader .ant-spin {
  font-size: 24px;
}

.flex-item-tile {
  display: flex;
}

.row-with-margin {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;

  .ant-card-body {
    height: 100px;

    .ant-card-meta-title {
      text-align: center;
      color: rgba(0, 0, 0, 0.88);
      font-weight: 600;
      font-size: 16px;
      overflow: hidden;
      white-space: normal;
      text-overflow: ellipsis;
    }
  }
}

.movie-details-container {
  display: flex;
  padding: 50px;

  .poster-container {
    flex: 0 0 30%;
    margin-right: 20px;

    .poster {
      width: 100%;
      height: auto;
    }
  }

  .details {
    flex: 1 1 70%;
    display: flex;
    flex-direction: column;

    h2 {
      font-size: 28px;
      margin-bottom: 20px;
    }

    .details-table {
      display: flex;
      flex-direction: column;
    }

    .details-row {
      display: flex;
      margin-bottom: 20px;
    }

    .details-heading {
      font-weight: bold;
      font-size: 22px;
      width: 200px;
    }

    .details-content {
      flex: 1;

      a {
        margin-right: 15px;
        text-decoration: none;
      }

      .keyword-list {
        display: flex;
        flex-wrap: wrap;

        .keyword {
          background-color: #f0f0f0;
          border-radius: 4px;
          padding: 4px 8px;
          margin-right: 8px;
          margin-bottom: 8px;
        }
      }
    }

    .review-info {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      .rating {
        margin-right: 10px;
      }

      span {
        margin-right: 10px;
      }
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin-right: 15px;

      a {
        margin-right: 15px;
        text-decoration: none;
      }

      button {
        font-size: 18px;
      }

      li {
        margin-bottom: 20px;

        .review-info {
          display: flex;
          align-items: center;
          margin-bottom: 10px;

          .rating {
            margin-right: 10px;
          }

          span {
            margin-right: 10px;
            line-height: 1.4;
          }
        }
      }
    }
  }
}

.loading-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .ant-spin {
    font-size: 24px;
  }
}
